{% extends 'base.html' %}
{% block page_title %}{{ tab.name_pt if lang == 'pt' else tab.name_es }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='dist/gc-theme.css') }}">
<div id="controle-producao-root"
     data-movimentos-url="{{ url_for('main.api_malharia_movimentos') }}"
     data-settings-url="{{ url_for('main.api_controle_producao_settings') }}"
     data-reprovas-url="{{ url_for('main.api_controle_producao_reprovas') }}"
     data-is-admin="{{ '1' if current_user.is_admin else '0' }}"></div>
<script type="module" src="{{ url_for('static', filename='dist/controle-producao.js') }}"></script>
{% endblock %}
